/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* line 6, ../sass/global.sass */
#page {
  background-color: white;
}

/* line 9, ../sass/global.sass */
#zone-user-wrapper {
  background-color: white;
}
/* line 11, ../sass/global.sass */
#zone-user-wrapper #zone-user {
  background-color: blue;
}
/* line 13, ../sass/global.sass */
#zone-user-wrapper #zone-user #region-user-first {
  background-color: #a3a3cc;
}
/* line 15, ../sass/global.sass */
#zone-user-wrapper #zone-user #region-user-second {
  background-color: #c8c8e0;
}

/* line 18, ../sass/global.sass */
#zone-branding-wrapper {
  background-color: white;
}
/* line 20, ../sass/global.sass */
#zone-branding-wrapper #zone-branding {
  background-color: #ffff99;
}
/* line 22, ../sass/global.sass */
#zone-branding-wrapper #zone-branding #region-branding {
  background-color: #ffffcc;
}

/* line 25, ../sass/global.sass */
#zone-menu-wrapper {
  background-color: #3399ff;
}
/* line 27, ../sass/global.sass */
#zone-menu-wrapper #region-menu {
  background-color: #ff6699;
}

/* line 31, ../sass/global.sass */
#zone-header-wrapper {
  background-color: white;
}
/* line 33, ../sass/global.sass */
#zone-header-wrapper #zone-header {
  background-color: #00cc66;
}
/* line 35, ../sass/global.sass */
#zone-header-wrapper #zone-header #region-header-first {
  background-color: #007a3d;
}
/* line 37, ../sass/global.sass */
#zone-header-wrapper #zone-header #region-header-second {
  background-color: #00552b;
}

/* line 40, ../sass/global.sass */
#zone-preface-wrapper {
  background-color: #3399ff;
}
/* line 42, ../sass/global.sass */
#zone-preface-wrapper #zone-preface {
  background-color: #ccccff;
}
/* line 44, ../sass/global.sass */
#zone-preface-wrapper #zone-preface #region-preface-first {
  background-color: #ff66ff;
}
/* line 46, ../sass/global.sass */
#zone-preface-wrapper #zone-preface #region-preface-second {
  background-color: #ff3399;
}
/* line 49, ../sass/global.sass */
#zone-preface-wrapper #zone-preface #region-preface-third {
  background-color: #ff5050;
}

/* line 52, ../sass/global.sass */
#zone-content {
  background-color: white;
}
/* line 54, ../sass/global.sass */
#zone-content #breadcrumb {
  background-color: #3333ff;
}
/* line 56, ../sass/global.sass */
#zone-content #messages {
  background-color: #66ff66;
}
/* line 58, ../sass/global.sass */
#zone-content #region-content {
  background-color: white;
}
/* line 60, ../sass/global.sass */
#zone-content #region-sidebar-first {
  background-color: #cc00ff;
}
/* line 62, ../sass/global.sass */
#zone-content #region-sidebar-second {
  background-color: #7a0099;
}

/* line 65, ../sass/global.sass */
#zone-postscript-wrapper {
  background-color: #3399ff;
}
/* line 67, ../sass/global.sass */
#zone-postscript-wrapper #zone-postscript {
  background-color: black;
}
/* line 69, ../sass/global.sass */
#zone-postscript-wrapper #zone-postscript #region-postscript-first {
  background-color: #0066cc;
}
/* line 71, ../sass/global.sass */
#zone-postscript-wrapper #zone-postscript #region-postscript-second {
  background-color: #0033cc;
}
/* line 73, ../sass/global.sass */
#zone-postscript-wrapper #zone-postscript #region-postscript-third {
  background-color: #0000cc;
}
/* line 75, ../sass/global.sass */
#zone-postscript-wrapper #zone-postscript #region-postscript-fourth {
  background-color: #336699;
}

/* line 78, ../sass/global.sass */
#zone-footer-wrapper {
  background-color: white;
}
/* line 80, ../sass/global.sass */
#zone-footer-wrapper #zone-footer {
  background-color: #ff3300;
}
/* line 82, ../sass/global.sass */
#zone-footer-wrapper #zone-footer #region-footer-first {
  background-color: #00cc00;
}
/* line 84, ../sass/global.sass */
#zone-footer-wrapper #zone-footer #region-footer-second {
  background-color: #669900;
}
